@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

body {
  font-family: "Press Start 2P", sans-serif;
  padding-top: 200px;
  text-align: center;
  background-color: #a95ee6;
  background-size: cover;
  background-size: 100%;
  height: 100%;
}

.main-header {
  padding-bottom: 5px;
  color: white;
}

.text {
  padding-bottom: 30px;
  color: white;
}

.p {
  padding-top: 30px;
  color: white;
}

.password {
  /* padding-bottom: 350px; */
  color: white;
}
